@model TrashCollectorWebApp.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}
<style>
    h4 + hr {
        display: @(Model.isTemporarySuspendSet == false ? "none" : "");
    }
    h5 + hr {
        display: @(Model.isExtraPickUpDateSet == false ? "none" : "");
    }
</style>
<h1>Welcome @Html.DisplayFor(model => model.FirstName),</h1>

<div>
    <h4>What would you like to do today?</h4>
    <hr>
    <h5 style="display:@(Model.isTemporarySuspendSet == false ? "none":"inline"); color:red;">You have a temporary hold set for @Html.Raw(Model.TemporarySuspendStart.ToShortDateString()) - @Html.Raw(Model.TemporarySuspendEnd.ToShortDateString()) | <a asp-action="CancelTempSuspend" asp-route-id="@Model.CustomerId">Cancel</a></h5>
    <hr>
    <h5 style="display:@(Model.isExtraPickUpDateSet == false ? "none":"inline"); color:red;">You have an extra pick up date set for @Html.Raw(Model.ExtraPickUpDate.ToShortDateString()) | <a asp-action="CancelPickUpDay" asp-route-id="@Model.CustomerId">Cancel</a></h5>
    <h3></h3>
    <hr>
    <h3>Amount Due: $@Html.DisplayFor(model => model.Balance)</h3>
    <ul class="row">
        <li class="col-sm-12">
            @Html.ActionLink("Pay My Bill", "PayBill", new { id = Model.CustomerId })
        </li>
        <li class="col-sm-12">
            @Html.ActionLink("Change My Pick Up Day", "ChangePickUpDay", new { id = Model.CustomerId })
        </li>
        <li class="col-sm-12">
            @Html.ActionLink("Schedule A One-Time Pick Up", "OneTimePickUp", new { id = Model.CustomerId })
        </li>
        <li class="col-sm-12">
            @Html.ActionLink("Temporarily Suspend All Pick Ups", "TemporarySuspend", new { id = Model.CustomerId })
        </li>
        <li class="col-sm-12">
            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.CustomerId })
        </li>
    </ul>
</div>

