@model TrashCollectorWebApp.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}

<h1>Welcome @Html.Raw(Model.FirstName),</h1>

<div>
    <h4>Your Pick Ups today:</h4>
    <hr />
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressLine1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ZIP)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListOfCustomers)
                {
                <tr>
                    <td>
                        @Html.Raw(item.FirstName)
                    </td>
                    <td>
                        @Html.Raw(item.LastName)
                    </td>
                    <td>
                        @Html.Raw(item.AddressLine1)
                    </td>
                    <td>
                        @Html.Raw(item.ZIP)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

