@model TrashCollectorWebApp.Models.Employee;
@{
    ViewData["Title"] = "ViewPickUpsByDay";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}

<h1>View Pick Ups By Day</h1>

<div>
    <form asp-action="ViewPickUpsByDay">
        <div class="form-group">
            <label> </label>
            <select asp-for="DayOfWeekView" class="form-control col-4" onchange="this.form.submit()">
                <option value="0">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Select a day...</option>
            </select>
            <span></span>
        </div>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.AddressLine1)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listOfCustomers != null)
                {
                    foreach (var item in Model.listOfCustomers)
                    {
                    <tr>
                        <td>
                            @Html.Raw(item.FirstName)
                        </td>
                        <td>
                            @Html.Raw(item.LastName)
                        </td>
                        <td>
                            @Html.Raw(item.AddressLine1)
                        </td>
                        <td>
                            <a asp-action="ViewCustomerLocation" asp-route-id="@item.CustomerId">
                                @Html.Raw(item.City)
                            </a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <h4>Customer Locations:</h4>
    <div class="row" id="googleMaps" style="width:100%;height:400px"></div>
</div>

<script>
    function theMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.listOfCustomers[0].Latitude,@Model.listOfCustomers[0].Longitude),
            zoom: 12,
        };
        var customer
    }
</script>
